@using PuzzleMania.ViewModels;

@model ProfileViewModel

<h1>Profile</h1>

<p>Email: @Model.Email</p>

@*<h3>Profile Picture</h3>
<img src="@Model.ProfilePictureUrl" alt="Profile Picture" width="400" height="400" />

<h3>Change Profile Picture</h3>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="profilePicture">Upload New Profile Picture:</label>
        <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>*@
