@model IEnumerable<Team>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}


<h1>Teams to join</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var team in Model)
        {
            <li>
                <form method="post" action="@Url.Action("JoinTeam", "Team")">
                    <input type="hidden" name="teamName" value="@team.TeamName" />
                    <button type="submit">@team.TeamName</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>No teams available.</p>
}


