@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@model IEnumerable<Team>

<h2>Choose your team wisely</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var team in Model)
        {
            <li>
                <a href="@Url.Action("JoinTeam", "Team", new { teamName = team.TeamName })">@team.TeamName</a>
            </li>
        }
    </ul>
}
else
{
    <p>No teams available.</p>
}
